* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

/*for Tablet resolution 769px*/
@media only screen and (min-width: 769px){
    #first_page_container, #second_page_container, #third_page_container, #Manage_meter_container {
        width: auto;
    }
    #first_page_container {
        background: linear-gradient(-45deg, rgba(212, 183, 89, 0.945),rgba(116, 134, 138, 0.959));
    }
    #second_page_container {
        background: rgb(142, 156, 141);
        font-family: 'Trebuchet MS';
    }
    #third_page_container {
        background-color: #6d8170;
        font-family: 'Trebuchet MS';
    }
    #Manage_meter_container {
        background: linear-gradient(-45deg, #778a79, rgba(188, 197, 209, 0.842));
        font-family: 'Trebuchet MS';
    }
    nav{background-color: #333;
        height: 23px;
    }
    /*Login page*/
    .login_container{
        width: 300px;
        height: 270px;
        border: solid 2px #34878a;
        margin: 190px auto 0px auto;
        border-radius: 4px;
        background-color: #FFFFFF;
    }
    .input_container{
        height: 100px;
        margin-top: 10px;
    }
    .span_help {
        margin-left: 55px;
        margin-top:12px;
    }
    #username {
        margin-top: 0px;
    }
    .login_input{
        display: block;
        width: 75%;
        height: 30px;
        padding-top: 1px;
        text-align: center;
        margin-top:10px;
        margin-left: 40px;
        border: solid 1px #34878a;
    }
    .logo_image{
        width: 150px;
        height: 50px;
        margin-left: 70px;
        margin-top: 40px;
    }
    .forgot_help {
        font-size: 11px;
        color: rgba(69, 171, 182, 0.959);
        }
         
    button {
        background-color: rgb(81, 196, 211);
        color: white;
    }
    /*Account Page*/
    .create_account_layout{
        width: auto;
        height: auto;
    }
    .create_account_header_layout {
        margin-left: 45px;
    }
    .create_account_0{
        margin: 35px 80px auto 80px;
        border: solid 1px #34878a;
        background-color: #dfdbdbad;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 560px;
    }
    #create_account_header{
        text-align: left;
        margin-left: 18px;
        font-size: 25px;
        color: rgb(97, 52, 52);
    }
    .Vendor_header{
        margin-left: 19px;
        font-size: 17px;
        color: rgb(97, 52, 52);
    }
    .form_layout{
        display: flex;
        margin-left: 10px;
    }
    .block_1{
        flex: 50%;
        margin-left: 55px;
    }
    .block_2{
        flex: 50%;
    }
    input{
        display: block;
        margin-top: 0px;
        width: 90%;
        height: 28px;
        border-radius: 5px;
        border: solid 1px rgba(0,0,0,0.2);
    }
    label{
        margin-top: 0px;
        font-size: 12px;
        color: rgb(7, 7, 7);
    }
    select{
        margin-top: 0px;
        width: 18%;
        display:block;
        height: 25px;
        font-size: 11px;
    }
    textarea {
        width: 90%;
    }
    div.block_1 > div, div.block_2 > div {
        margin-top: 9px;
    }
    .button_submit{
        font-size: 10px;
        width: 10%;
        height: 30px;
        background-color:  rgb(45, 124, 160);
        border-radius: 4px;
        display: block;
        margin-top: 470px;
        margin-left: 53px;
        position: absolute;
    }
    option {
        font-size: 11px;
    }
/* Registration Page*/
    .form_layout_2 {
        margin-top: 30px;
    }
    .form-header {
        font-size: 20px;
        text-align: left;
        background-color: #f2f2f2;
        padding-top: 2px;
        margin-left: 376px;
        margin-top: 50px;
        margin-right: 376px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-color: rgb(77, 160, 163);
        border-bottom-style: solid;
        padding: 0px 95px;
        height: 45px;
    }
    .form-header > p {
        padding-top: 6px;
        color: rgb(77, 160, 163);
    }
    #reg_container{
        margin-left: 375px;
        margin-top: 0px;
        margin-right: 375px;
        border: solid 1px #34878a;
        height: 1015px;
        max-width: auto;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    }
    .registration_input{
        width: 80%;
    }
    select.site_label {
        width: 21%;
    }
    .block_1_2{
        margin-left: 95px;
    }
    div.block_1_2 > div, div.block_2_2 > div {
    margin-top: 7px;
    }
    div.block_1_2 label, div.block_2_2 label {
        color: #177c80;
        }
    .button_add{
        font-size: 10px;
        width: 8%;
        height: 29px;
        margin-top: 10px;
        position: absolute;
        background-color:  rgb(45, 124, 160);
        border-radius: 5px;
    }
/* Meter Management Page*/
    

}
/*for Tablet resolution 768px*/
@media only screen and (max-width: 768px){
    #first_page_container, #second_page_container, #third_page_container, #Manage_meter_container {
        width: auto;
    }
    #first_page_container {
        background: linear-gradient(-45deg, rgba(212, 183, 89, 0.945),rgba(116, 134, 138, 0.959));
    }
    #second_page_container {
        background: rgb(142, 156, 141);
        font-family: 'Trebuchet MS';
    }
    #third_page_container {
        background-color: #6d8170;
        font-family: 'Trebuchet MS';
    }
    #Manage_meter_container {
        background: linear-gradient(-45deg, #778a79, rgba(188, 197, 209, 0.842));
        font-family: 'Trebuchet MS';
    }
    nav{background-color: #333;
        height: 23px;
    }
    /*Login page*/
    .login_container{
        width: 300px;
        height: 270px;
        border: solid 2px #34878a;
        margin: 170px auto 0px auto;
        border-radius: 4px;
        background-color: #FFFFFF;
    }
    .input_container{
        height: 100px;
        margin-top: 10px;
    }
    .span_help {
        margin-left: 60px;
        margin-top:12px;
    }
    #username {
        margin-top: 0px;
    }
    .login_input{
        display: block;
        width: 75%;
        height: 30px;
        padding-top: 1px;
        text-align: center;
        margin-top:10px;
        margin-left: 40px;
        border: solid 1px #34878a;
    }
    .logo_image{
        width: 150px;
        height: 50px;
        margin-left: 70px;
        margin-top: 40px;
    }
    .forgot_help {
        font-size: 11px;
        color: rgba(69, 171, 182, 0.959);
        }
         
    button {
        background-color: rgb(81, 196, 211);
        color: white;
    }
    /*Account Page*/
    .create_account_layout{
        width: auto;
        height: auto;
    }
    .create_account_header_layout {
        margin-left: 0px;
    }
    .create_account_0{
        margin: 35px 80px auto 80px;
        border: solid 1px #34878a;
        background-color: #dfdbdbad;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 970px;
    }
    #create_account_header{
        text-align: left;
        margin-left: 18px;
        color: rgb(97, 52, 52);
    }
    .Vendor_header{
        margin-left: 19px;
        color: rgb(97, 52, 52);
    }
    .form_layout{
        margin-left: 20px;
    }
    input{
        display: block;
        margin-top: 0px;
        width: 90%;
        height: 28px;
        border-radius: 5px;
        border: solid 1px rgba(0,0,0,0.2);
    }
    label{
        margin-top: 0px;
        font-size: 11px;
    }
    select{
        margin-top: 0px;
        width: 16%;
        display:block;
        height: 25px;
        font-size: 11px;
    }
    textarea {
        width: 90%;
    }
    div.block_1 > div, div.block_2 > div {
        margin-top: 8px;
    }
    .button_submit{
        font-size: 10px;
        width: 20%;
        height: 25px;
        background-color:  rgb(45, 124, 160);
        border-radius: 4px;
        display: block;
        margin-top: 8px;
        float: right;
        margin-right: 10px;
        position: absolute;
    }
    option {
        font-size: 11px;
    }
/* Registration Page*/
    .form_layout_2 {
        margin-top: 30px;
    }
    .form-header {
        font-size: 20px;
        text-align: left;
        background-color: #f1f1f1;
        padding-top: 2px;
        margin-left: auto;
        margin-top: 50px;
        margin-right: auto;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-color: rgb(77, 160, 163);
        border-bottom-style: solid;
        padding: 0px 95px;
        height: 35px;
    }
    .form-header > p {
        padding-top: 5px;
        color: rgb(77, 160, 163);
    }
    #reg_container{
        margin-left: auto;
        margin-top: 0px;
        margin-right: auto;
        border: solid 1px #34878a;
        height: 1015px;
        max-width: auto;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .registration_input{
        width: 80%;
    }
    select.site_label {
        width: 21%;
    }
    .block_1_2{
        margin-left: 95px;
    }
    div.block_1_2 > div, div.block_2_2 > div {
    margin-top: 7px;
    }
    div.block_1_2 label, div.block_2_2 label {
        color: #177c80;
        }
    .button_add{
        font-size: 10px;
        width: 8%;
        height: 24px;
        margin-top: 10px;
        position: absolute;
        background-color:  rgb(45, 124, 160);
        border-radius: 5px;
    }
}
/*for Tablet resolution 425px*/
@media only screen and (max-width: 425px){
    #first_page_container, #second_page_container, #third_page_container, #Manage_meter_container {
        width: auto;
    }
    #first_page_container {
        background: linear-gradient(-45deg, rgba(212, 183, 89, 0.945),rgba(116, 134, 138, 0.959));
    }
    #second_page_container {
        background: rgb(142, 156, 141);
        font-family: 'Trebuchet MS';
    }
    #third_page_container {
        background-color: #6d8170;
        font-family: 'Trebuchet MS';
    }
    #Manage_meter_container {
        background: linear-gradient(-45deg, #778a79, rgba(188, 197, 209, 0.842));
        font-family: 'Trebuchet MS';
    }
    nav{background-color: #333;
        height: 23px;
    }
    /*Login page*/
    .login_container{
        width: 210px;
        height: 185px;
        border: solid 2px #34878a;
        margin: 170px auto 0px auto;
        border-radius: 4px;
        background-color: #FFFFFF;
    }
    .input_container{
        height: 65px;
        margin-top: 9px;
    }
    .span_help {
        margin-left: 15px;
        margin-top:10px;
        font-size: 6px;
    }
    #username {
        margin-top: 0px;
    }
    .login_input{
        display: block;
        width: 75%;
        height: 25px;
        padding-top: 1px;
        text-align: center;
        margin-top:5px;
        margin-left: 27px;
        border: solid 1px #34878a;
    }
    .logo_image{
        width: 80px;
        height: 30px;
        margin-left: 60px;
        margin-top: 20px;
    }
    .forgot_help {
        font-size: 11px;
        color: rgba(69, 171, 182, 0.959);
        }
         
    button {
        background-color: rgb(81, 196, 211);
        color: white;
    }
    /*Account Page*/
    .create_account_layout{
        width: auto;
        height: auto;
    }
    .create_account_header_layout {
        margin-left: 0px;
    }
    .create_account_0{
        margin: 35px 80px auto 80px;
        border: solid 1px #34878a;
        background-color: #dfdbdbad;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 1020px;
    }
    #create_account_header{
        text-align: left;
        margin-left: 18px;
        color: rgb(97, 52, 52);
    }
    .Vendor_header{
        margin-left: 19px;
        color: rgb(97, 52, 52);
    }
    .form_layout{
        margin-left: 20px;
    }
    input{
        display: block;
        margin-top: 0px;
        width: 90%;
        height: 28px;
        border-radius: 5px;
        border: solid 1px rgba(0,0,0,0.2);
    }
    label{
        margin-top: 0px;
        font-size: 11px;
    }
    select{
        margin-top: 0px;
        width: 16%;
        display:block;
        height: 25px;
        font-size: 11px;
    }
    textarea {
        width: 90%;
    }
    div.block_1 > div, div.block_2 > div {
        margin-top: 8px;
    }
    .button_submit{
        font-size: 10px;
        width: 20%;
        height: 25px;
        background-color:  rgb(45, 124, 160);
        border-radius: 4px;
        display: block;
        margin-top: 8px;
        float: right;
        margin-right: 10px;
        position: absolute;
    }
    option {
        font-size: 11px;
    }
/* Registration Page*/
    .form_layout_2 {
        margin-top: 30px;
    }
    .form-header {
        text-align: left;
        background-color: #f1f1f1;
        padding-top: 2px;
        margin-left: auto;
        margin-top: 50px;
        margin-right: auto;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-color: rgb(77, 160, 163);
        border-bottom-style: solid;
        padding: 0px 95px;
        height: 35px;
    }
    .form-header > p {
        padding-top: 5px;
        font-size:18px;
        color: rgb(77, 160, 163);
    }
    #reg_container{
        margin-left: auto;
        margin-top: 0px;
        margin-right: auto;
        border: solid 1px #34878a;
        height: 1015px;
        max-width: auto;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .registration_input{
        width: 80%;
    }
    select.site_label {
        width: 21%;
    }
    .block_1_2{
        margin-left: 95px;
    }
    div.block_1_2 > div, div.block_2_2 > div {
    margin-top: 7px;
    }
    div.block_1_2 label, div.block_2_2 label {
        color: #177c80;
        }
    .button_add{
        font-size: 10px;
        width: 8%;
        height: 28px;
        margin-top: 10px;
        position: absolute;
        background-color:  rgb(45, 124, 160);
        border-radius: 5px;
    }
}

/*footer navigation for registration page*/
.footer_layout_register_meter{
    margin-top: 15px;
}
.navbar-footer_index{
    text-align: right;
}
p a {
    color: white;
}


